.header{
  font-family: "FreeSans", FreeSans, sans-serif;
  font-size: 10pt;
  font-weight:bold;
  padding: 10px;
}

.content{
  font-family: "FreeSans", FreeSans, sans-serif;
  font-size: 10pt;
}

.link{
  font-family: "FreeSans", FreeSans, sans-serif;
  font-size: 10pt;
  font-weight: bold;
  padding: 10px;
}

.link a{
  text-decoration: none;
}

.link a:visited, .link a:active, .link a:link{
  color: #0000CC;
}

.InputFromTo{
  font-family: "FreeSans", FreeSans, sans-serif;
  font-size: 10pt;
}

.InputFromTo .DayPicker-Day--selected:not(.DayPicker-Day--start):not(.DayPicker-Day--end):not(.DayPicker-Day--outside){
  background-color: #f0f8ff !important;
  color: #4a90e2;
}

.InputFromTo .DayPicker-Day{
  border-radius: 0 !important;
}

.InputFromTo .DayPicker-Day--start{
  border-top-left-radius: 50% !important;
  border-bottom-left-radius: 50% !important;
}

.InputFromTo .DayPicker-Day--end{
  border-top-right-radius: 50% !important;
  border-bottom-right-radius: 50% !important;
}

.InputFromTo .DayPickerInput-Overlay{
  width: 550px;
}

.InputFromTo-to .DayPickerInput-Overlay{
  margin-left: -198px;
}

.result table{
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  border-collapse: collapse;
}

.result table tr td, .result table tr th{
  border-top: 1px solid #000000;
  border-left: 1px solid #000000;
  padding: 4px;
  font-family: Arial;
}

.result table tr th{
  font-weight: bold;
  text-align: center;
}

.result table tr td:first-child,
.result table tr th:first-child{
  border-top: 1px solid #000000;
  border-left: 0px solid #000000;
}

.result table tr:last-child td{
  border-bottom: 1px solid #000000;
}
