#description{
  font-family: "FreeSans", FreeSans, sans-serif;
  font-size: 10pt;
  font-weight: normal;
  font-style: italic;
}

#edit_file_content{
  font-family: "Courier New", Courier, monospace;
  font-size: 10pt;
}

#content pre{
  font-family: "Roboto Mono";/*Courier;*/
  font-size: 10pt;
/*  font-weight: bold; */
  line-height: 20px; 
  margin: 0px 4px;
  white-space: pre-wrap;
}

#upload_form{
  display: none;
}

#file_selection{
  font-style: italic;
}

#upload_target{
  width: 0px;
  height: 0px;
  border: 0px solid #FFFFFF;
}
